* {
    margin: 0;
    padding: 0;
}


/* body {
    font-family: sans-serif;
    overflow-x: hidden;
} */

nav {
    display: flex;
    background-color: darkcyan;
    justify-content: space-around;
    padding: 5px 0;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: rgb(2, 110, 110);
    color: white;
    padding: 10px;
    border-radius: 15px;
}

#logo {
    width: 50px;
}

.label {
    display: flex;
    align-items: center;
}

.label h4 {
    color: aliceblue;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(36, 36, 36);
}

.toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.toggle span {
    display: block;
    width: 28px;
    height: 2px;
    background-color: white;
    transition: 1s;
}

.toggle input {
    position: absolute;
    width: 40px;
    height: 30px;
    top: -5px;
    left: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}


/* Membuat Animasi Hamburger Menu */

.toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, 0px);
}

.toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0px);
}

.toggle input:checked~span:nth-child(3) {
    transform: scale(0);
}


/* Content */


/* Jumbotron */

#banner {
    width: 100%;
    height: 300px;
    top: 100px;
    z-index: -1;
    background-image: url('img/banner.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
}


/* Akhir Jumbotron */


/* Caption */

#tempatCaption {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#caption1,
#caption2,
#caption3 {
    border: 5px solid #028a9a;
    /* background-color: #07beb8; */
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    width: 100%;
    color: #14807c;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-shadow: 1px 1px 1px grey, 2px 2px 2px grey; */
}

#caption1 {
    border-top-right-radius: 300px;
}

#caption2 {
    border-radius: 50px;
    text-align: center;
}

#caption3 {
    border-top-left-radius: 300px;
    text-align: right;
}


/* Akhir Caption */


/* Service */

#service {
    /* border: 2px solid black; */
    margin: 0;
    padding: 80px 0px 50px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 50px;
    justify-content: center;
}

div#service div img {
    /* width: 300px; */
    border-radius: 50px;
    padding-bottom: 20px;
}

.kartu {
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    border: 1.5px solid rgba(128, 128, 128, 0.274);
    border-bottom: 6px solid royalblue;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}

.isiKartu a {
    background-color: rgba(30, 143, 255, 0.8);
    color: aliceblue;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.isiKartu a:hover {
    background-color: royalblue;
    transition: 0.3s;
}

.isiKartu h5 {
    font-weight: bold;
}


/* Akhir Service */


/* Galery */

.contentGalery {
    background-color: #ddd;
    border: 8px solid rgb(241, 241, 241);
    box-shadow: 12px 12px 18px gray;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

#captionGalery {
    color: #04395e;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
}

#galery {
    width: 100%;
    margin: auto;
    padding: 40px 0 20px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
    justify-content: center;
}

#galery img {
    border: 4px solid rgb(238, 236, 236);
    width: 300px;
    margin: auto;
}


/* Akhir Galery */


/* About Us */

.aboutUs {
    background-color: whitesmoke;
    margin-top: 100px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.master {
    margin: auto;
}

#gambarMaster {
    box-shadow: -10px 8px 20px grey;
    width: 500px;
}

.captionAboutUs {
    margin: auto;
    padding: 0px 10px 0px 100px;
}

.captionAboutUs h2,
.captionAboutUs p {
    text-align: center;
}

.captionAboutUs h2 {
    font-size: 2.5rem;
    padding: 10px;
    font-family: sans-serif;
    color: #4361ee;
    font-weight: bold;
    text-shadow: 4px 4px 8px grey;
}

.captionAboutUs p {
    padding: 10px;
}


/* Akhir About Us */


/* Footer */

footer {
    margin-top: 80px;
    background-color: #07beb8;
    color: white;
    /* grid-template-areas: ; */
}

#atas {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

#contactMe,
#location,
#around {
    width: 350px;
    text-align: center;
    font-family: sans-serif;
}

#atas div h2 {
    font-weight: bold;
}

#icon {
    margin-right: 10px;
    margin-left: 10px;
}

#bawah {
    text-align: center;
}


/* Akhir Footer */


/* Akhir Content */


/* Tampilan Tablet */

@media screen and (max-width: 900px) {
    nav ul {
        width: 60%;
    }
    /* Jumbotron */
    #banner {
        height: 200px;
    }
    /* Akhir Jumbotron */
    /* Home */
    #caption1,
    #caption2,
    #caption3 {
        padding: 5px;
        font-size: 20px;
    }
    /* Akhir Home */
    /* About Us */
    .aboutUs {
        flex-direction: column;
        text-align: center;
    }
    #gambarMaster {
        width: 500px;
    }
    .captionAboutUs {
        padding: 5px;
    }
    .captionAboutUs h2 {
        font-size: 2rem;
    }
    /* Akhir About Us */
    /* Footer */
    #atas {
        flex-direction: column;
        justify-content: space-between;
        height: 450px;
    }
    #contactMe,
    #location,
    #around {
        margin: auto;
    }
    /* Akhir Footer */
}


/* Tampilan Mobile */

@media screen and (max-width: 700px) {
    nav ul {
        position: absolute;
        width: 80%;
        right: 0;
        top: 0px;
        flex-direction: column;
        height: 100vh;
        background-color: darkcyan;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        opacity: 0;
        transform: translateX(100%);
        transition: all 1s;
    }
    nav ul.slide {
        transform: translateX(0);
        opacity: 0.9;
    }
    nav ul li a:hover {
        background-color: rgb(2, 110, 110);
        padding: 3px;
        font-size: 20px;
        border-radius: 15px;
    }
    .toggle {
        display: flex;
    }
    /* Jumbotron */
    #banner {
        height: 130px;
    }
    /* Akhir Jumbotron */
    /* Home */
    #caption1,
    #caption2,
    #caption3 {
        padding: 5px;
        font-size: 12px;
    }
    #caption3 {
        padding-left: 10px;
    }
    /* Akhir home */
    /* About Us */
    #gambarMaster {
        width: 300px;
    }
    /* Akhir About Us */
}